.vr-custom{
    width: 3px;
    height: 100%;
    background-color: black;
    border-radius: 1em;
}
/*Style de la navbar pour toutes les pages*/
.nav-link:hover {
    background-color: grey;
    color: white !important;
}
.nav-link.active:hover {
    background-color: grey;
    color: white !important;
}
.nav-link.active {
    background-color: #555;
    color: white !important;
}